{% extends "layouts/navbase.html" %}
{% load static %}
{% block contenido %}
       

    <!-- Header Start -->
    <div class="container-fluid page-header5">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Acerca de</h3>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <br>

    <div class="bg-white" style="padding: 30px; margin-bottom: 30px; margin: 30px;">
        <h1 class="mb-3 text-center" style="color: rgb(5, 78, 12);">Centro de Bachillerato Tecnológico industrial y de
            servicio N° 150</h1>
        <br>
        <h3 class="m-0 text-center" style="color: green;"><b>Módulo Profesional:</b><span class="text-dark"> Desarrolla
                Software con Herramientas Orientadas a la Productividad.</span></h3>
        <br>
        <h4 class="m-0" style="color: green;">Submódulo Profesional I:<span class="text-dark"> Emplea Frameworks para el
                Desarrollo de Software.</span></h4>
        <h4 class="m-0" style="color: green;">Submódulo Profesional II:<span class="text-dark"> Aplica Metodologías
                Ágiles para el Desarrollo de Software.</span></h4>
        <br>
        <!-- Team Start -->

        <div class="d-flex justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="team-item bg-white mb-4">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static "app_inicio/img/user.png" %}" alt="">
                    </div>
                    <div class="text-center py-4">
                        <h5 class="m-0" style="color: rgb(2, 85, 2);">Profesor:</h5>
                        <h4 class="text-truncate">Roberto Ruiz</h4>
                        <h4 class="text-truncate">Mendoza</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        <!-- Testimonial Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center mb-3 pb-3">
                    <h2 style="color: rgb(61, 149, 29);">3° "D"</h2>
                    <h3 style="color: black;">Generació: 2023-2026</h3>
                    <h3 style="color: black;">B. T. en Programación</h3>
                </div>
                <h3 class="mb-3 text-center" style="color: rgb(61, 149, 29);">Desarrolladores:</h3>
                <div class="owl-carousel testimonial-carousel">
                    
                    <div class="text-center pb-4">
                        <img class="img-fluid mx-auto" src="{% static "app_inicio/img/user.png" %}">
                        <br><br>
                        <div class="testimonial-text bg-white p-4 mt-n5">
                            <h5 class="text-truncate">Oscar Mariano Arango Ruiz</h5>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <img class="img-fluid mx-auto" src="{% static "app_inicio/img/user.png" %}">
                        <br><br>
                        <div class="testimonial-text bg-white p-4 mt-n5">
                            <h5 class="text-truncate">Dulce Marina López Cruz</h5>
                        </div>
                    </div>
                    <div class="text-center">
                        <img class="img-fluid mx-auto" src="{% static "app_inicio/img/user.png" %}">
                        <br><br>
                        <div class="testimonial-text bg-white p-4 mt-n5">
                            <h5 class="text-truncate">Luis Fernando Hernández</h5>
                            <h5 class="text-truncate">Aquino</h5>
                        </div>
                        <br>
                    </div>
                    <div class="text-center">
                        <img class="img-fluid mx-auto" src="{% static "app_inicio/img/user.png" %}">
                        <br><br>
                        <div class="testimonial-text bg-white p-4 mt-n5">
                            <h5 class="text-truncate">Diana Sofia Villanueva Vásquez</h5>
                        </div>
                    </div>
                    <div class="text-center">
                        <img class="img-fluid mx-auto" src="{% static "app_inicio/img/user.png" %}">
                        <br><br>
                        <div class="testimonial-text bg-white p-4 mt-n5">
                            <h5 class="text-truncate">Benjamin Fernando Cruz Manuel</h5>
                        </div>
                    </div>
                    <div class="text-center">
                        <img class="img-fluid mx-auto" src="{% static "app_inicio/img/user.png" %}">
                        <br><br>
                        <div class="testimonial-text bg-white p-4 mt-n5">
                            <h5 class="text-truncate">Josue Santiago Martínez</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    </div>

    <section id="faq" class="faq section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2 class="text-center">Agradecimientos y Referencias</h2>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row justify-content-center">
  
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
  
              <div class="faq-container">
  
                <div class="faq-item">
                  <h3>Tecnologías utilizadas</h3>
                  <div class="faq-content">
                    <p> <strong>Front-end</strong> <br>
                        •HTML <br>
                        •CSS <br>
                        •Framework CSS: Bootstrap <br>
                        •JavaScript <br><br>
                        <strong>Back-end</strong> <br>
                        •Python <br>
                        •Framework Django <br><br>
                        <strong>Motor de base de datos</strong> <br>
                        •SQLite <br><br>
                        <strong>Editor de texto</strong><br>
                        •Visual Studio Code <br>
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->

                <div class="faq-item">
                  <h3>Atribuciones</h3>
                  <div class="faq-content">
                    <p> • Freepik. <a href="https://www.freepik.es/">https://www.freepik.es/</a><br>
                        • Bootstrap. <a href="https://getbootstrap.com/">https://getbootstrap.com/</a>
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3>Fuentes</h3>
                  <div class="faq-content">
                    <p>Gutiérrez, L., Martínez, J., & Ramírez, A. (2020). Impactos de la contaminación del agua en la salud pública: El caso de Ocotlán de Morelos, Oaxaca. Revista Mexicana de Salud Ambiental, 16(3), 115-130. <br>
                        González, R., López, P., & Salazar, F. (2021). La gestión de residuos sólidos y su relación con la contaminación hídrica en el Valle de Oaxaca. Boletín de Ecología, 32(4), 185-200. <br>
                        Hernández, M., & Gómez, C. (2022). Contaminación por metales pesados en las fuentes de agua de Ocotlán de Morelos y sus efectos en la salud. Revista de Toxicología y Medio Ambiente, 14(1), 45-59. <br>
                        Pérez, A., & López, J. (2020). Contaminación de los ríos en el Valle de Oaxaca: Un estudio de caso en Ocotlán de Morelos. Ecología y Desarrollo, 18(2), 99-112. <br>
                        Reyes, E., Salazar, G., & Ramírez, J. (2021). El impacto de la contaminación del agua en las enfermedades gastrointestinales en Ocotlán de Morelos. Journal of Public Health, 22(3), 134-146. <br>
                        Instituto Nacional de Ecología y Cambio Climático (INECC). (2020). Estado de los bosques en México 2020. Recuperado de https://www.gob.mx/inecc <br>
                        Secretaría de Medio Ambiente y Recursos Naturales (SEMARNAT). (2017). Deforestación y cambio de uso de suelo en Oaxaca. Secretaría de Medio Ambiente y Recursos Naturales. <br>
                        Secretaría de Medio Ambiente y Recursos Naturales (SEMARNAT). (2018). Programa de Pago por Servicios Ambientales en Oaxaca. Recuperado de https://www.gob.mx/semarnat <br>
                        Secretaría de Medio Ambiente y Recursos Naturales (SEMARNAT). (2021). Políticas forestales y su impacto en la conservación en Oaxaca. <br>
                        Lee, S. E., & Choi, H. J. (2022). Urban water pollution and its environmental impact. Environmental Pollution, 294, 113-123. <br>
                        Satterthwaite, D., & Mitlin, D. (2023). Urbanization, water resources, and sustainable cities: A global overview. Routledge. <br>
                        Houghton, R. A. (2023). The role of deforestation in global environmental change. Global Environmental Change, 72, 134-146. https://doi.org/10.1016/j.gloenvcha.2023.102442 <br>
                        Brown, D., & Fan, C. (2023). Environmental impacts of deforestation in tropical regions. Environmental Management, 42(5), 65-80. <br>
                        Muezzinoglu, A. (2022). The causes and consequences of air pollution. Environmental Pollution and Control, 75(4), 487-500. <br>
                        Zhang, Y., & Zhao, Y. (2023). Air pollution sources and their impacts on the environment. Environmental Chemistry Letters, 21(2), 765-780. <br>
                        Gómez, R., López, J., & Hernández, A. (2020). Emisiones atmosféricas de pequeñas industrias en el Valle de Oaxaca: Impactos y soluciones. Revista Mexicana de Tecnología Ambiental, 15(4), 219-235. <br>
                        López, M., & Hernández, R. (2019). El impacto del tráfico vehicular en la calidad del aire en áreas urbanas: Un estudio de caso en Ocotlán de Morelos. Boletín de Ciencias Ambientales, 23(1), 45-58. <br>
                        Morales, E., & Pérez, L. (2022). La relación entre la contaminación del aire y enfermedades respiratorias en zonas rurales de Oaxaca. Journal of Environmental Health, 34(2), 102-115. <br>
                        Ramírez, T., González, F., & Rodríguez, P. (2021). Contaminación del aire por prácticas agrícolas en el Valle de Oaxaca: Desafíos y alternativas. Investigación en Ciencias Ambientales, 29(3), 76-89. <br>
                        Sánchez, V., Pérez, J., & García, M. (2021). Efectos de la contaminación atmosférica en los ecosistemas del Valle de Oaxaca. Ecología y Conservación, 16(2), 112-125 <br>
                        Klohn, W., et al. (2021). Water contamination from mining activities: A review of effects and remediation. Environmental Pollution, 275, 116631. <br>
                        World Bank. (2022). Water management in mining: A case study of impacts and solutions. https://www.worldbank.org/en/topic/watermanagementmining <br>
                        Bridgman, T., & McElroy, M. (2021). The economic costs of environmental damage from mining activities. Economic Geography, 97(2), 186-203. <br>
                        World Bank. (2022). Economic implications of mining activities. https://www.worldbank.org/en/topic/mining <br>
                        Cruz, R., & Pérez, D. (2020). Impactos ambientales y sociales de la minería artesanal en Oaxaca. Revista Mexicana de Sociología y Ecología, 17(3), 45-60. <br>
                        González, M., et al. (2021). La minería en Oaxaca: Conflictos sociales y ambientales. Editorial Universidad Autónoma de Oaxaca. <br>
                        Hernández, A., & Méndez, S. (2019). La minería en San José del Progreso: Desafíos y oportunidades. Revista de Estudios Sociales y Ambientales, 22(1), 112-130. <br>
                        Pérez, J., & López, F. (2018). Condiciones laborales y salud en las minas de Oaxaca: Un estudio sobre la minería en Magdalena Teitipac. Salud y Ambiente, 14(2), 78-90 <br>
                        Environmental Protection Agency (EPA). (2023). Air pollution sources and their impacts. https://www.epa.gov/air-pollution-sources <br>
                        WHO(2022). Air pollution: A global health risk. https://www.who.int/news-room/fact-sheets/detail/air-pollution <br>
                        Jose Alberto piñedas rojas temas ambientales (noviembre 02 2021) https://sl.bing.net/disJI1uNZSK <br>
                        Todo por el arte RD (5 junio 2020) https://sl.bing.net/jLcPkIw9Me4 <br>
                        Equipo editorial, Etecé (31 de agosto de 2022). Problemas ambientales. Enciclopedia de Ejemplos. Recuperado el 30 de octubre de 2024 de https://www.ejemplos.co/20-ejemplos-de-problemas-ambientales/. <br>
                        Meteorizado. (2024, 5 de junio). Día Mundial del Medio Ambiente 2024: Restauración, generación de tierras, desertificación, resiliencia, sequías: el lema de la ONU frente a la crisis climática [Ima https://www.meteored.com.ar/noticias/actualidad/dia-mundial-del-medio-ambiente-2024-restauracion-generacion-tierras-desertificacion-resil-sequias-onu-lema-crisis-climatica-guia.html <br>
                        Jesuitas conferencia de prevención en América Latina y el caribe - CPAL (2021) " ECOEDUCACIÓN " https://sl.bing.net/g5gcZP4Nm5A <br>
                        PNGTree. (n.d.). Tree trunk illustration. PNGTree. https://es.pngtree.com/freepng/tree-trunk-illustration_13016692.html <br>
                        Flaticon. (n.d.). Ícono de deforestación. Flaticon. https://www.flaticon.es/icono-gratis/deforestacion_2562321 <br>
                        Postposmo. (n.d.). Reforestación. Postposmo. https://www.postposmo.com/reforestacion/ <br>
                        Humanidades.com. (n.d.). Contaminación del agua. Humanidades.com. https://humanidades.com/contaminacion-del-agua/ <br>
                        Mina Rías. (n.d.). 7 antiguas minas y yacimientos: joyas de patrimonio minero. Mina Rías. https://minariasostible.gal/es/7-antiguas-minas-y-yacimientos-joyas-de-patrimonio-minero/ <br>
                        Hablemos de Culturas. (n.d.). Fertilizantes y plaguicidas. Hablemos de Culturas. https://hablemosdeculturas.com/fertilizantes-y-plaguicidas/ <br>
                        La Opinión. (2015, diciembre 21). ¿Qué nos enferma en los hospitales, además de las bacterias? La Opinión. https://laopinion.com/2015/12/21/que-nos-enferma-en-los-hospitales-ademas-de-las-bacterias/ <br>
                        Convivir Press. (n.d.). Contaminación del agua. Convivir Press. https://www.convivirpress.com/contaminacion-del-agua/ <br>
                        Vecteezy. (n.d.). Ícono de gota de agua 3D. Vecteezy. https://es.vecteezy.com/png/17339034-icono-de-gota-de-agua-3d <br>
                        Icon Library. (n.d.). Air icon. Icon Library. Recuperado el 9 de noviembre de 2024, de
                         [https://icon-library.com/icon/air-icon-12.html](https://icon-library.com/icon/air-icon-12.html) <br>
                        González, M. (2020, 15 de septiembre). Qué le pasa a tu cuerpo cuando se expone a la radiación. Vice. Recuperado el 9 de noviembre de 2024, de [https://www.vice.com/es/article/ywwg7g/que-le-pasa-a-tu-cuerpo-cuando-se-expone-a-la-radiacion](https://www.vice.com/es/article/ywwg7g/que-le-pasa-a-tu-cuerpo-cuando-se-expone-a-la-radiacion) <br>
                        La Primera Noticias. (2023, 28 de septiembre). Llaman a prevenir incendios por quema de basura. La Primera Noticias. Recuperado el 9 de noviembre de 2024, de [https://laprimeranoticias.com.mx/noticias/slrc/llaman-a-prevenir-incendios-por-quema-de-basura/](https://laprimeranoticias.com.mx/noticias/slrc/llaman-a-prevenir-incendios-por-quema-de-basura/) <br>
                        El Sol de México. (2018, marzo 27). Producción minera del país cae 10.3% en 2017. El Sol de México. https://www.elsoldemexico.com.mx/finanzas/produccion-minera-del-pais-cae-10.3-en-2017-266556.html <br>
                        CIMMYT. (2021, noviembre 15). Quemas agrícolas ponen en riesgo vidas humanas. Centro Internacional de Mejoramiento de Maíz y Trigo (CIMMYT). https://www.cimmyt.org/es/noticias/quemas-agricolas-ponen-en-riesgo-vidas-humanas/ <br>
                        Car From Japan. (2021, agosto 6). Shocking car pollution facts everyone should know. Car From Japan. https://carfromjapan.com/article/car-maintenance/shocking-car-pollution-facts-everyone-should-know/ <br>
                        Fibras y Normas de Colombia. (2020, mayo 12). Contaminación atmosférica: causas y efectos. Fibras y Normas de Colombia. https://blog.fibrasynormasdecolombia.com/contaminacion-atmosferica-causas-y-efectos/ <br>
                        José Yambi. (2016, agosto 12). La deforestación. Blogger. https://deforestacionjoseyambi.blogspot.com/2016/08/la-deforestacion.html <br>
                        Biología y Geología IES Abdera. (2014, marzo 20). Recursos hídricos. Blogger. https://biologiaygeologiaiesabdera.blogspot.com/2014/03/recursos-hidricos.html <br>
                        Observatorio de Conflictos Mineros en América Latina. (s.f.). Conflicto minero en [ caylloma, arequipa] (ID: 975). Observatorio de Conflictos Mineros en América Latina. https://mapa.conflictosmineros.net/ocmal_db-v2/conflicto/view/975 <br>
                        Plantillas HTML/CSS para Descargar Gratuita: Traveler - Plantillas HTML Gratuitas. (2021). Plantillashtmlgratis.com. Disponible en: https://plantillashtmlgratis.com/todas-las-plantillas/plantilla/plantillas-html-css-para-descargar-gratuita-traveler/
                        </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item--> 
  
              </div>
  
            </div><!-- End Faq Column-->
  
          </div>
  
        </div>
  
      </section><!-- /Faq Section -->



    {% endblock contenido %}