{% extends "layouts/navbase.html" %}
{% load static %}
{% block contenido %} 


    <!-- Header Start -->
    <div class="container-fluid page-header3">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-center text-uppercase">Contaminación del aire en Ocotlán de Morelos
                </h3>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <div class="bg-white" style="padding: 30px; margin-bottom: 30px; margin: 30px;">
        <h1 class="mb-3" style="color: rgb(47, 47, 47);">Definición</h1>
        <div class="media mb-4">
            <div class="media-body">
                <p>La contaminación del aire es un fenómeno ambiental que afecta a varias regiones del mundo, incluyendo
                    Ocotlán de Morelos, un municipio ubicado en el Valle de Oaxaca. La contaminación en esta región es
                    ocasionada principalmente por actividades agrícolas, el uso de transporte motorizado, y la actividad
                    industrial, lo cual representa un riesgo para la salud pública y el medio ambiente.</p>
            </div>
        </div>
    </div>


    <div class="bg-white mb-4" style="padding: 30px; margin: 30px; width: calc(100% - 60px);">
        <h1 class="mb-3" style="color: rgb(47, 47, 47);">Causas</h1>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(121, 121, 121);">Quema de residuos agrícolas</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/reciduosAgricolas.jpg" %}" style="width: 300px;">
            <p>Una de las fuentes más significativas de contaminación del aire en Ocotlán es la quema de residuos
                agrícolas, especialmente de caña de azúcar y otros cultivos. Durante las temporadas de cosecha, los
                agricultores queman los restos de las plantas para preparar la tierra para nuevos cultivos. Esta
                práctica emite grandes cantidades de partículas finas (PM2.5), dióxido de carbono (CO₂) y otros
                contaminantes. Las partículas suspendidas en el aire pueden tener efectos devastadores en la salud de la
                población, especialmente en aquellas personas con enfermedades respiratorias (Sánchez & Rodríguez,
                2020).</p>
        </div><br>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(121, 121, 121);">Emisiones vehiculares</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/carros.jpg" %}" style="width: 300px;">
            <p>Aunque Ocotlán no es una gran ciudad, el crecimiento demográfico y el aumento del parque vehicular han
                provocado un incremento de las emisiones contaminantes generadas por el tráfico. Los vehículos,
                especialmente los más antiguos y de tecnología menos eficiente, emiten óxidos de nitrógeno (NOx),
                monóxido de carbono (CO) y compuestos orgánicos volátiles (COV). Estos gases contribuyen a la formación
                de ozono troposférico y partículas finas, que pueden afectar la salud respiratoria de los habitantes
                (Gutiérrez & Martínez, 2021).</p>
        </div>
        <br>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(121, 121, 121);">Contaminación por actividades industriales</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/fabricas.jpg" %}" style="width: 300px;">
            <p>Las pequeñas industrias que procesan productos como la caña de azúcar y otros productos agrícolas también
                contribuyen a la contaminación del aire en Ocotlán. Estas fábricas, al no contar con tecnologías
                adecuadas para la reducción de emisiones, liberan gases contaminantes como dióxido de azufre (SO₂),
                monóxido de carbono y material particulado (Sánchez et al., 2019). Estas emisiones son responsables de
                la disminución de la calidad del aire, afectando tanto la salud humana como los ecosistemas
                circundantes.</p>
        </div>
        <br>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(121, 121, 121);">Deforestación y pérdida de vegetación natural</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/tala.jpg" %}" style="width: 300px;">
            <p>La deforestación es otra causa indirecta de la contaminación del aire en Ocotlán. La pérdida de
                vegetación reduce la capacidad natural de los árboles y plantas para absorber dióxido de carbono y
                filtrar otras sustancias contaminantes. El deterioro de los ecosistemas naturales también aumenta la
                vulnerabilidad de la región ante los efectos de la contaminación del aire (Ramírez & González, 2021).
            </p>
        </div>
        <br><br><br>



        <h1 class="mb-3" style="color: rgb(47, 47, 47);">Efectos</h1>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(121, 121, 121);">Impacto en la salud humana</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/salud2.jpg" %}" style="width: 300px;">
            <p>La exposición prolongada a la contaminación del aire tiene graves consecuencias para la salud de la
                población de Ocotlán. Las partículas finas (PM2.5) y los gases contaminantes, como el ozono
                troposférico, son especialmente perjudiciales para el sistema respiratorio y cardiovascular. Las
                enfermedades relacionadas con la contaminación del aire incluyen asma, bronquitis, enfermedades
                pulmonares crónicas y un aumento en la mortalidad prematura (Morales et al., 2020). Además, estudios
                muestran que los niños, los adultos mayores y las personas con enfermedades preexistentes son
                particularmente vulnerables a estos efectos (Pérez & Ramos, 2021).</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(121, 121, 121);">Daños al medio ambiente y ecosistemas</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/quemaBasura.jpg" %}" style="width: 300px;">
            <p>La contaminación del aire también tiene efectos perjudiciales en el medio ambiente de Ocotlán. El ozono
                troposférico y los compuestos ácidos generados por las emisiones industriales y vehiculares dañan la
                vegetación, alterando la fotosíntesis y reduciendo la biodiversidad local. Los árboles y plantas
                afectadas no solo se debilitan, sino que también liberan menos oxígeno y absorben menos CO₂, exacerbando
                el problema de las emisiones de gases de efecto invernadero (Gutiérrez & Martínez, 2021).</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(121, 121, 121);">Alteración del clima local</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/fenomenosClimaticos.jpg" %}" style="width: 300px;">
            <p>Las emisiones de gases contaminantes como el dióxido de carbono (CO₂) contribuyen al calentamiento global
                y alteran los patrones climáticos en la región. Esto puede provocar sequías más frecuentes y eventos
                climáticos extremos que afectan tanto a la agricultura como a la calidad del aire. La quema de residuos
                agrícolas, al liberar grandes cantidades de CO₂, contribuye directamente al cambio climático (Sánchez et
                al., 2019).</p>
        </div>
    </div>


    <div class="bg-white" style="padding: 30px; margin-bottom: 30px; margin: 30px;">
        <h1 class="mb-3  text-center" style="color: rgb(47, 47, 47);">Medidas para mitigar la contaminación del aire
        </h1>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/aire.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Regulación y reducción de la quema de residuos agrícolas</b>
                </h6>
                <p>Una de las principales soluciones para mitigar la contaminación del aire es la reducción de la quema
                    de residuos agrícolas. El gobierno local y las organizaciones ambientales podrían fomentar prácticas
                    agrícolas sostenibles, como la compostaje de residuos agrícolas y el uso de maquinaria para el
                    manejo de los residuos en lugar de quemarlos. Además, se pueden proporcionar incentivos financieros
                    y educativos a los agricultores para adoptar estas prácticas menos contaminantes (Ramírez &
                    González, 2021).</p>
            </div>
        </div>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/aire.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Fomento al uso de energías renovables y tecnologías
                        limpias</b></h6>
                <p>Para reducir las emisiones de las pequeñas industrias en Ocotlán, se puede promover la implementación
                    de tecnologías limpias, como el uso de energías renovables (solar, eólica) y sistemas de filtración
                    de aire que reduzcan la liberación de contaminantes. Las autoridades pueden proporcionar incentivos
                    fiscales y subsidios para que las empresas inviertan en tecnologías más limpias y sostenibles
                    (Gutiérrez & Martínez, 2021).</p>
            </div>
        </div>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/aire.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Mejorar el transporte público y promover medios de transporte
                        sostenibles</b></h6>
                <p>Para reducir la contaminación vehicular, es importante mejorar el transporte público en Ocotlán,
                    promoviendo el uso de vehículos eléctricos o de bajas emisiones. Además, se debe fomentar el uso de
                    bicicletas y caminar como medios alternativos de transporte. La creación de infraestructuras
                    adecuadas para la movilidad sostenible, como ciclovías y estaciones de bicicletas públicas, puede
                    ayudar a disminuir la congestión vehicular y las emisiones contaminantes (Pérez & Ramos, 2021).</p>
            </div>
        </div>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/aire.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Programas de reforestación y conservación de áreas
                        naturales</b></h6>
                <p>La reforestación y la conservación de áreas verdes también juegan un papel fundamental en la mejora
                    de la calidad del aire. Los árboles y plantas absorben CO₂ y otros contaminantes, ayudando a mitigar
                    los efectos de la contaminación. Las autoridades locales y las organizaciones no gubernamentales
                    podrían implementar proyectos de reforestación en las zonas urbanas y rurales para mejorar la
                    calidad del aire y restaurar los ecosistemas locales (Sánchez et al., 2019).</p>
            </div>
        </div>

    </div>


    {% endblock contenido %}