{% extends "layouts/navbase.html" %}
{% load static %}
{% block contenido %}
      


    <!-- Header Start -->
    <div class="container-fluid page-header4">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-center text-uppercase">Explotación Irracional de los Recursos
                    Naturales: Minería en Ocotlán de Morelos</h3>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <div class="bg-white" style="padding: 30px; margin: 30px;">

        <h1 class="mb-3" style="color: #846f19;">Minería</h1>
        <div class="media" style="display: flex; flex-wrap: wrap; align-items: center;">
            <img src="{% static "app_inicio/img/mineria2.jpg" %}" alt="Image" class="img-fluid"
                style="width: 100%; max-width: 300px; margin-bottom: 20px;">
            <div class="media-body" style="flex: 1; margin: 10px; width: 100%;">
                <p>Ocotlán de Morelos es un municipio en el Valle de Oaxaca, que forma parte de la región conocida por
                    su riqueza mineral, especialmente en la extracción de metales como oro, plata, y minerales no
                    metálicos. A lo largo de los años, la minería ha sido una fuente importante de ingresos en la
                    región, pero el manejo inapropiado de los recursos naturales ha generado graves consecuencias tanto
                    para el medio ambiente como para las comunidades locales. La minería irracional, que no sigue
                    principios de sostenibilidad y respeto por el entorno, ha provocado la contaminación del agua, la
                    deforestación, la erosión del suelo, y problemas de salud en las poblaciones cercanas a las áreas
                    mineras.</p>
            </div>
        </div>
    </div>



    <div class="bg-white mb-4" style="padding: 30px; margin: 30px; width: calc(100% - 60px);">
        <h1 class="mb-3" style="color: #846f19;">Causas y características</h1>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Minería a Cielo Abierto y Uso de Cianuro</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/mineriaCieloAbierto.jpg" %}" style="width: 300px;">
            <p>Una de las principales formas de explotación minera en la región es la minería a cielo abierto, que
                implica la remoción masiva de tierra para extraer minerales valiosos. En el caso de Ocotlán y sus
                alrededores, el uso de cianuro para la extracción de oro y plata es una práctica común. Este compuesto
                químico es altamente tóxico y puede filtrarse en las fuentes de agua, afectando tanto a los ecosistemas
                acuáticos como a las personas que dependen de estos recursos para su consumo y actividades diarias
                (Alvarado et al., 2020).</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Deforestación y Erosión del Suelo</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/erocion.jpg" %}" style="width: 300px;">
            <p>La minería a gran escala en Ocotlán ha llevado a la deforestación de importantes áreas boscosas. La
                remoción de vegetación y la excavación del suelo para acceder a los minerales dejan el terreno
                vulnerable a la erosión. Esto no solo reduce la biodiversidad local, sino que también aumenta la
                sedimentación de los ríos cercanos, lo que afecta la calidad del agua y los ecosistemas acuáticos
                (García et al., 2019). La falta de medidas de restauración ecológica tras las actividades mineras ha
                exacerbado estos problemas.</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Impacto en los Recursos Hídricos</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/recursosHidricos.jpg" %}" style="width: 300px;">
            <p>La explotación minera intensiva en la región también ha afectado la disponibilidad y calidad del agua. La
                extracción de minerales, combinada con el uso de químicos como el cianuro y el mercurio, ha contaminado
                los cuerpos de agua cercanos. Esto ha afectado tanto a los habitantes de Ocotlán, que dependen de estas
                fuentes para su consumo, como a las especies acuáticas locales. Los metales pesados en el agua han sido
                asociados con problemas de salud pública, incluyendo intoxicaciones y enfermedades renales (González &
                Pérez, 2021).</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Condiciones de Trabajo y Conflictos Sociales</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/conflictosSociales.jpg" %}" style="width: 300px;">
            <p>La minería en Ocotlán ha estado marcada por condiciones laborales precarias. Muchos de los trabajadores
                de las minas, en su mayoría migrantes de otras regiones, laboran en condiciones de alta peligrosidad,
                sin la debida protección ni remuneración justa. Además, la presencia de empresas mineras ha generado
                tensiones entre las comunidades locales y las compañías extractivas, debido a la falta de consulta y
                participación de las poblaciones en las decisiones sobre el uso de sus tierras (Martínez & Sánchez,
                2020). Estos conflictos sociales a menudo se agravan por la falta de información y transparencia por
                parte de las autoridades y las empresas.</p>
        </div>




        <h1 class="mb-3" style="color: #846f19;">Efectos</h1>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Contaminación Ambiental</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/reciduosSolidos.jpg" %}" style="width: 300px;">
            <p>La contaminación generada por la minería en Ocotlán es uno de los principales efectos negativos en la
                región. La liberación de metales pesados, como el plomo y el arsénico, en el aire, el suelo y el agua,
                ha afectado la calidad ambiental. La contaminación del aire proviene de las emisiones de polvo y
                partículas finas generadas por la voladura y el transporte de minerales. Este polvo contiene sustancias
                tóxicas que pueden afectar la salud respiratoria de los habitantes (González et al., 2019).</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Impacto en la Salud de la Población Local</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/salud.jpg" %}" style="width: 300px;">
            <p>El impacto de la minería en la salud de la población local es una preocupación constante. La exposición a
                los contaminantes como el cianuro, el mercurio y los metales pesados está vinculada a diversas
                enfermedades, como intoxicaciones agudas, problemas neurológicos, y trastornos del sistema inmunológico.
                Además, el consumo de agua contaminada con estos compuestos ha resultado en un aumento de casos de
                enfermedades gastrointestinales y respiratorias (Mendoza et al., 2020). La falta de acceso a servicios
                de salud adecuados ha agravado aún más la situación.</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Pérdida de Biodiversidad</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/biodiversidad.jpg" %}" style="width: 300px;">
            <p>La deforestación causada por las actividades mineras ha reducido considerablemente la biodiversidad en la
                región. Las áreas de bosque, hogar de numerosas especies endémicas, han sido devastadas por la minería a
                cielo abierto. La pérdida de hábitats ha afectado a diversas especies de flora y fauna, poniendo en
                riesgo la conservación de la biodiversidad local (Alvarado et al., 2020).</p>
        </div>

        <div style="margin: 30px;">
            <h5 class="mb-3" style="color: rgb(134, 134, 134);">Desplazamiento de Comunidades y Conflictos Sociales</h5>
            <img class="img-fluid float-left mr-4 mb-2" src="{% static "app_inicio/img/desplazamiento.jpg" %}" style="width: 300px;">
            <p>La expansión de la minería ha desplazado a varias comunidades en Ocotlán, ya que las empresas mineras
                requieren grandes extensiones de tierra para sus operaciones. Los conflictos sociales relacionados con
                el uso de la tierra, la falta de consulta previa a las comunidades afectadas, y los impactos económicos
                de la minería han generado tensiones y protestas. Estos conflictos han sido exacerbados por la falta de
                mecanismos efectivos de participación comunitaria y la poca transparencia en las decisiones
                gubernamentales relacionadas con la minería (Martínez & Sánchez, 2020).</p>
        </div>

    </div>




    <div class="bg-white" style="padding: 30px; margin-bottom: 30px; margin: 30px;">
        <h1 class="mb-3  text-center" style="color: rgb(47, 47, 47);">Regulación y Políticas Públicas sobre Minería en
            Oaxaca</h1>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/mina.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Marco Legal y Regulación Ambiental</b>
                </h6>
                <p>En México, la minería está regulada por diversas leyes y normativas, como la Ley Minera y la Ley
                    General de Equilibrio Ecológico y la Protección al Ambiente. Sin embargo, a nivel local, la
                    implementación de estas leyes ha sido deficiente en muchas ocasiones. La falta de fiscalización, las
                    lagunas legales y la corrupción han permitido que muchas empresas mineras operen sin cumplir con las
                    regulaciones ambientales, lo que agrava los impactos negativos de la minería (Hernández & Romero,
                    2021).</p>
            </div>
        </div>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/mina.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Iniciativas para la Gestión Sostenible de los Recursos
                        Naturales</b>
                </h6>
                <p>A pesar de la falta de una implementación efectiva de las políticas, han surgido algunas iniciativas
                    en la región para promover la minería responsable. Estas incluyen la implementación de tecnologías
                    más limpias, la rehabilitación de tierras mineras y la creación de reservas naturales para la
                    conservación de la biodiversidad. Sin embargo, estas iniciativas aún son limitadas y requieren mayor
                    apoyo gubernamental y de la sociedad civil (González & Pérez, 2021).</p>
            </div>
        </div>
        <br>



        <h1 class="mb-3  text-center" style="color: rgb(47, 47, 47);">Propuestas para Mitigar los Efectos de la Minería
            en Ocotlán de Morelos</h1>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/tractor.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Fortalecer la Regulación y Supervisión Ambiental</b>
                </h6>
                <p>Es fundamental mejorar la implementación de la Ley Minera y las normativas ambientales para asegurar
                    que las empresas mineras cumplan con las normas de protección ambiental y social. Se deben
                    establecer sistemas de monitoreo más estrictos y sanciones severas para las violaciones de las
                    normativas.</p>
            </div>
        </div>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/tractor.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Fomentar la Minería Responsable</b>
                </h6>
                <p>Promover la adopción de prácticas mineras sostenibles que minimicen el impacto ambiental y social.
                    Las tecnologías limpias, como el uso de métodos de extracción menos invasivos y la recuperación de
                    metales mediante procesos no tóxicos, deben ser incentivadas.</p>
            </div>
        </div>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/tractor.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Consulta y Participación Comunitaria</b>
                </h6>
                <p>Es esencial que las comunidades locales sean consultadas y tengan voz en las decisiones relacionadas
                    con los proyectos mineros en su territorio. Se deben establecer mecanismos de participación real que
                    garanticen que los derechos de las comunidades sean respetados y que los beneficios económicos de la
                    minería se distribuyan equitativamente.</p>
            </div>
        </div>

        <div class="media mb-4">
            <img src="{% static "app_inicio/img/tractor.png" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 60px;">
            <div class="media-body">
                <h6 style="color: rgb(121, 121, 121);"><b>Rehabilitación de Áreas Degradadas</b>
                </h6>
                <p>Implementar programas de restauración ecológica en las áreas afectadas por la minería. La
                    reforestación y la rehabilitación del suelo y los cuerpos de agua son pasos fundamentales para
                    mitigar los efectos negativos de la minería.</p>
            </div>
        </div>

    </div>



    {% endblock contenido %}